.filter-wrapper {
    align-items: left;
    margin-top: 10px;
}

h3 {
    font-size: 1rem;
}

.filter-button {
    margin: 2px;
    font-size: 0.9rem;
    padding: 5px 10px;
    background-color: #f0e6cc;
    color: gray;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.filter-button:hover {
    background-color: #ffda8b;
    border-color: orange;
    color: #fff;
}

.filter-button.selected {
    background-color: orange;
    color: white;
    border-color: orange;
}
