.ResultRestaurantKey {
    width: 100%;
    background-color:#ffe7b3;
    margin: 8px;
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    align-items: center;
    min-height: 10rem;
    position: relative;
    box-sizing: border-box;
}

.ResultRestaurantKey:hover {
    background-color: orange;
}

.restImage {
    position:absolute;
    height: 85%;
    width: 25%;
    left: 1%;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;
}

.row1 {
    background-color: transparent;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    width: 65%; /* Adjust width as needed to fit within the container */
    position: relative;
    overflow: hidden; /* Hide overflow content */
    left: 30%;
    margin-right: 5px;
    justify-content: center;
    font-weight:500;
}

.restName {
    font-size: 30px;
    font-weight: bold;
    color: #582c1b;
    text-align: left;
}

.info-row {
    display: flex;
    align-items: flex-start;
    width: 100%; /* Full width of row1 */
    justify-content: space-between; /* Distribute space between items */
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: scale(1.2);
    margin-right: 5px;
}

.cuisine, .priceRange, .rating, .location{
    color: #8b5c49;
    margin: 5px;
}


@media (max-width: 768px) {
    .restImage {
        width: 30%; /* Adjust for smaller screens */
    }
    
    .row1 {
        width: 100%;
    }
    
    .info-row {
        flex-direction: column; /* Stack vertically on small screens */
    }
}