.search-results-wrapper {
    margin-top: 2rem;
    background-color: #fcfaf1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
}

.search-results-list {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-right: 15px;
    margin: auto;
    max-height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-results-list::-webkit-scrollbar {
    display: auto;
    position: fixed;
    right: 0;
    width: 10px;
    scroll-behavior: smooth;
}

.search-results-list::-webkit-scrollbar-track {
    background: transparent;
    align-items: right;
    margin-left: 10px;
}

.search-results-list::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

.num-results-found-sign {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: orange;
}
