.input {
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
}

.submitLine {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    background: transparent;
    border-radius: 6px;
    padding: 0 15px;
}

.submitButton {
    margin: 10px;
}

.total {
    align-items: center;
}

.h1 {
    margin: 100px;
    align-items: center;
}