.whatsnew-container {
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-right: 15px;
    margin: auto;
    max-height: 650px;
}

.whatsnew-restaurant {
    width: 700px;
    height: 100px;
    padding: 10px 20px;
    background-color:#ffe7b3;
    margin: 8px;
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    align-items: center;
    min-height: 10rem;
    position: relative;
    overflow: hidden;
}

.whatsnew-restaurant:hover {
    background-color: orange;
}

.whatsnew-restImage {
    position:absolute;
    height: 85%;
    left: 1%;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px;
}

.whatsnew-row1 {
    background-color: transparent;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
    width: 65%; /* Adjust width as needed to fit within the container */
    position: relative;
    overflow: hidden; /* Hide overflow content */
    left: 30%;
    margin-right: 5px;
    justify-content: center;
    font-weight:500;
}

.whatsnew-restName {
    font-size: 30px;
    font-weight: bold;
    color: #582c1b;
    text-align: left;
}

.whatsnew-info-row {
    display: flex;
    align-items: flex-start;
    width: 100%; /* Full width of row1 */
    justify-content: space-between; /* Distribute space between items */
}

.whatsnew-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: scale(1.2);
    margin-right: 5px;
}

.whatsnew-cuisine, .whatsnew-priceRange, .whatsnew-rating, .whatsnew-location{
    color: #8b5c49;
    margin: 5px;
}
