.fav-container {
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    max-height: 1500px;
    min-width: 500px;
    padding: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #ffe7b3;
    border-radius: 20px;
    margin-bottom: 10px;
}

.fav-header {
    padding-top: 10vh;
    font-size: 50px;
    align-items: center;
    color: orange;
    font-weight: bold;
}