.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: auto;
    background: #ffe7b4;
    padding: 30px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
}

.text {
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #000;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: 60px;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
}

.input img {
    width: 30px;
    margin-right: 15px;
}

.input input {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 18px;
}

.forgotPassword {
    margin-top: 27px;
    color: #000;
    font-size: 18px;
    text-align: center;
}

.forgotPassword span {
    color: #000;
    cursor: pointer;
}

.submitContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    width: 220px;
    height: 59px;
    color: #fff;
    background: #ffda8b;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 800;
    cursor: pointer;
    display: flex; /* Ensure button is a flex container */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.gray {
    background: #fff;
    color: #000;
}
