.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: auto;
    background: #ffe7b3;
    padding: 30px;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
}

.text {
    font-size: 32px;
    font-weight: 700;
}

.underline {
    width: 300px;
    height: 6px;
    background: rgba(255, 123, 0, 0.315);
    border-radius: 9px;
}

.action {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: 60px;
    background-color: #000;
    border-radius: 10px;
    padding: 0 15px;
}

.input i {
    color: orange;
    font-size: 30px;
    margin-right: 15px;
}

.input input {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 18px;
}

.forgotPassword {
    margin-top: 27px;
    font-size: 18px;
    text-align: center;
}

.forgotPassword span {
    cursor: pointer;
    text-decoration: underline;
}

.forgotPassword span:hover {
    color: orange;
}

.submitContainer {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    margin: auto;
}

.submit {
    width: 220px;
    height: 59px;
    color: #582c1b;
    background: #ffe7b3;
    border-radius: 50px;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.submit.login {
    border: 2px solid orange;
}

.submit.signup {
    border: 2px solid orange;
}
